<section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid="">
    <header class="heroButtonsHeader">


        <section class="banner-area" style="padding-left: 20px;">

            <div class="col-lg-6 mt-30">
                <div class="banner-content text-center">
                    <h3 class="text-uppercase"><b>¡Tu pago ha sido procesado con éxito!</b></h3>
                    <br>
                    <h5 class="text-uppercase">Se ha enviado un correo ha tu casilla de correo con la información necesaria para continuar con el alquiler</h5>
                    <br>
                    <div style="height: 350px; width: 350px; background-color: white" fxLayout="row"
                        fxLayoutAlign="center center" fxFlexFill>
                        <mat-video [autoplay]="true" [preload]="true" [overlay]="false"
                            src="https://media.tenor.com/videos/51752ec7b31cb365a9ec3781efc30f37/mp4"></mat-video>
                    </div>
                    <a class="primary-btn banner-btn" routerLink="/home">Volver al inicio</a>
                </div>
            </div>

        </section>
    </header>
</section>