<section>
    <div fxLayout="column" fxLayoutAlign="center center" ngClass.gt-sm="bloque-que-es-1use" fxLayoutGap="20px"
        ngClass.lt-lg="bloque-que-es-1use-mobile">
        <h2 class="about-heading">¿Qué es <span>OneUse</span>?</h2>
        <div fxFlex.lt-lg fxLayoutAlign.lt-lg="start start">
            <p id="tamaño">
                OneUse es una plataforma web que nos permite sacar provecho de aquellos objetos que no usamos
                y tenemos en nuestras casas ociosamente, alquilándolo a otras personas que precisen de dicho
                objeto mediante una transacción segura y confiable!
                A través de OneUse, no sólo podrás ahorrar el dinero al no comprar, sino que podrás sacar
                partido a tus objetos, evitando así el consumo excesivo y los desplazamientos innecesarios
            </p>
        </div>
    </div>
    <!--HERRAMIENTAS Y VALORES START-->
    <div fxLayout="row" fxLayoutGap="40px" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center center">
        <div fxFlex fxFlexAlign="start" fxFlexOffset="20px" fxFlexAlign.lt-lg="center">
            <div class="heading-part mb_20 mt_40">
                <h2 class="main_title">Beneficios de nuestra plataforma</h2>
            </div>
            <!--HERRAMIENTAS START -->
            <div ngClass.lt-lg="bloque-herramientas-lt-md">
                <mat-accordion class="example-headers-align">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Alquiler Seguro y Confiable</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-justify">
                            Realizamos los controles a lo largo de la transacción
                            para verificar que la misma cumple
                            con las políticas de control establecidas por la plataforma
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Ahorro de Dinero</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-justify">
                            Ahorrá dinero mediante el alquiler de productos, sin la necesidad de gastar dinero de más en
                            compras innecesarias
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title fxLayout="row">
                                <h4>Publicaciones Destacadas</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-justify">
                            Destacar tus publicaciones te permitirá posicionarlas en las primeras ubicaciones de
                            búsqueda cuando un usuario
                            busque productos relacionados con la categoría de tu publicación
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Estadísticas de tus Publicaciones</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-justify">
                            Diferentes estadísticas sobre tus Publicaciones que te brindarán información para que puedas
                            mejorar tu performance
                            como usuario
                        </p>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h4>Dinero Rápido</h4>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <p class="text-justify">
                            Obtené dinero por aquello que tenes en tu hogar sin usar, por medio del alquiler con
                            personas que necesiten tu
                            objeto
                        </p>
                    </mat-expansion-panel>

                </mat-accordion>
            </div>
        </div>
        <!--HERRAMIENTAS END -->
        <!--VALORES START-->

        <div fxFlex.gt-md fxFlexAlign.gt-md="end" ngClass.gt-sm="bloque-nuestros-valores"
            ngClass.lt-lg="bloque-nuestros-valores-lt-md">
            <div class="heading-part mb_20 mt_40 ">
                <h2 class="main_title">Nuestros Valores</h2>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="accent" [value]=progress1></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Creatividad</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="primary" [value]=progress2></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Transparencia</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="warn" [value]=progress3></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Honestidad</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="accent" [value]=progress4></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Responsabilidad Social</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="primary" [value]=progress5></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Excelencia</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="warn" [value]=progress6></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Pasión</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="accent" [value]=progress7></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Seguridad</span>
                </div>
            </div>

            <div>
                <mat-progress-bar mode="determinate" color="primary" [value]=progress8></mat-progress-bar>
                <div style="position:relative; top: -22px; left: 18px;">
                    <span class="progress-type">Respeto</span>
                </div>
            </div>
        </div>
        <!--VALORES END -->
    </div>
    <!--HERRAMIENTAS Y VALORES END -->
    <!--PROFESIONALES START -->
    <div class="heading-part bloque-nuestros-profesionales" fxLayout="row" fxLayoutAlign="center center" fxFill>
        <h2 class="main_title mt_50">Nuestros Profesionales</h2>
    </div>
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px" class="team_grid mb_20" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center">
        <!-- <div class="team3col owl-carousel"> -->
        <div class=" team-detail" fxLayout="column" fxLayoutAlign="center center">
            <div class="team-item-img">
                <img id="image-Profesional" src="../../../assets/images/danilo.jpg" alt="LucenaDanilo" />
            </div>
            <div class="team-designation mt_20">Full Stack Developer</div>
            <h4 class="team-title  mtb_10">Danilo Lucena</h4>
            <p id="texto">Muy comprometido, con sentido de pertenencia, creativo y con actitud positiva..</p>
            <ul class="social mt_20 mb_80">
                <li><a href="https://www.facebook.com/lucena.danilo/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/LucenaDanilo/" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.instagram.com/lucena.danilo/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <mat-divider fxHide.lt-lg [vertical]="true"></mat-divider>
        <div class=" team-detail" fxLayout="column" fxLayoutAlign="center center">
            <div class="team-item-img">
                <img id="image-Profesional" src="../../../assets/images/JuanIgnacio.jpeg" alt="Juan Van Heerden" />
            </div>
            <div class="team-designation mt_20">Full Stack Developer</div>
            <h4 class="team-title  mtb_10">Juan Van Heerden</h4>
            <p id="texto">Soy un profesional con marcado carácter emprendedor y en constante actualización..</p>
            <ul class="social mt_20 mb_80">
                <li><a href="https://www.facebook.com/Juanivh/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://twitter.com/juanivanheerden" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.instagram.com/juanivanheer/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <mat-divider fxHide.lt-lg [vertical]="true"></mat-divider>
        <div class=" team-detail" fxLayout="column" fxLayoutAlign="center center">
            <div class="team-item-img"> <img id="image-Profesional" src="../../../assets/images/Belloti.jpg"
                    alt="Melina Belloti" /> </div>
            <div class="team-designation mt_20">DB Developer</div>
            <h4 class="team-title  mtb_10">Melina Belloti </h4>
            <p id="texto"> Obsesiva de la organizacion, continuamente buscando la manera de implementar ideas innovadoras ..
            </p>
            <ul class="social mt_20 mb_80">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.instagra,.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <mat-divider fxHide.lt-lg [vertical]="true"></mat-divider>
        <div class=" team-detail" fxLayout="column" fxLayoutAlign="center center">
            <div class="team-item-img"> <img id="image-Profesional" src="../../../assets/images/Belelli.jpg"
                    alt="Federico Belleli" /> </div>
            <div class="team-designation mt_20">Back End Developer</div>
            <h4 class="team-title  mtb_10">Federico Belelli </h4>
            <p id="texto">Apasionado por la tecnologia, creativo, con ganas de superarme contantemente..
            </p>
            <ul class="social mt_20 mb_80">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.instagra.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>
        <mat-divider fxHide.lt-lg [vertical]="true"></mat-divider>
        <div class=" team-detail" fxLayout="column" fxLayoutAlign="center center">
            <div class="team-item-img"> <img id="image-Profesional" src="../../../assets/images/Morales.jpg"
                    alt="Rocio Morales" /> </div>
            <div class="team-designation mt_20">Front End Developer</div>
            <h4 class="team-title  mtb_10">Rocio Morales </h4>
            <p id="texto">Detallista y simpatica, con motivacion para el desarrollo de nuevos proyectos..
            </p>
            <ul class="social mt_20 mb_80">
                <li><a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
                <li><a href="https://www.twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
                </li>
                <li><a href="https://www.instagra,.com/" target="_blank"><i class="fa fa-instagram"></i></a>
                </li>
            </ul>
        </div>

        <!--PROFESIONALES END -->
    </div>
    <!--ABOUT END -->

</section>