<div fxLayout="row" fxFlexFill>
    <div fxLayout fxFlexOrder="1" ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>
    <div fxLayout="column" fxFlexOrder="2" ngClass.gt-md="container-gt-md" ngClass.lt-md="container-lt-md">
        <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px" fxLayoutAlign="center center">
            <p style="font-size: 25px;margin-bottom: 8px; "> Mis alquileres</p>
            <mat-divider fxFlexFill></mat-divider>
        </div>
        <mat-tab-group>
            <mat-tab>
                <div fxHide.lt-lg="true">
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">bookmark_add</mat-icon>
                        De mis publicaciones
                    </ng-template>
                </div>
                <div *ngIf="!hayAlquileresPropietario" style="text-align: center; margin-top: 100px;overflow: hidden;">
                    <h3>No hay alquileres por mostrar</h3>
                </div>
                <div class="mat-elevation-z4 contenedor-gral" *ngIf="hayAlquileresPropietario">
                    <br>
                    <div class="contenedorAlquiler" *ngFor="let datos of arrayDatosPropietario; let indice = index">
                        <mat-list role="list">
                            <mat-list-item role="listitem">
                                <div fxLayout="row" fxFlexFill>
                                    <div fxLayoutAlign="center" fxFlex="500">
                                        <img class="imagen"
                                            src="{{'http://localhost:4201/api/get-image-publicacion/'+ datos.imagen}}">
                                        <!-- <img class="imagen"
                                                src="{{'https://oneuse-backend.herokuapp.com/api/get-image-publicacion/'+ datos.imagen}}"> -->
                                    </div>

                                    <div class="info" fxLayout="column" fxFlex="300" fxLayoutAlign="center">
                                        <p mat-line><b> Persona que alquiló: </b>{{datos.name_usuarioLocatario}}</p>
                                        <p mat-line><b> Fecha de generación: </b>{{datos.createdAt}}</p>
                                        <p mat-line><b> Cantidad de días alquiler: </b>{{datos.cantidadDias}} </p>
                                        <p mat-line><b> Estado del Alquiler: </b>{{datos.estado}} </p>
                                        <p mat-line *ngIf="datos.fuePagado && !datos.codigoPropietarioIngresado"><b>
                                                Código entrega propietario: </b>{{datos.codigoEntregaPropietario}}
                                        </p>
                                        <p mat-line *ngIf="datos.estado == 'En proceso de devolución'">
                                            <b>
                                                Código devolución propietario:
                                            </b>{{datos.codigoDevolucionPropietario}}
                                        </p>
                                        <p mat-line *ngIf="datos.fuePagado && datos.codigoLocatarioIngresado">
                                            <b> Fecha de devolución:
                                            </b>{{datos.fechaCaducidadDevolucion}}
                                        </p>
                                    </div>
                                    <div class="info2" fxLayout="row" fxFlex="400" fxLayoutAlign="center center"
                                        fxLayoutGap="10px" *ngIf="!datos.fuePagado">
                                        <p><b>Esperando aceptación del pago</b></p>

                                        <button mat-raised-button (click)="openDialogCancelar(datos)" color="warn">
                                            <mat-icon>cancel</mat-icon>
                                            <span> Cancelar alquiler</span>
                                        </button>
                                    </div>
                                    <div class="info2" fxLayout="row" fxFlex="400" fxLayoutAlign="center center"
                                        fxLayoutGap="10px" *ngIf="datos.fuePagado">

                                        <button *ngIf="datos.estado == 'En proceso de entrega'" mat-raised-button
                                        (click)="pre_reclamo(datos)" color="warn">
                                            <mat-icon>cancel</mat-icon>
                                            <span> Reclamar alquiler</span>
                                        </button>

                                        <button *ngIf="datos.estado == 'En proceso de devolución'" mat-raised-button
                                            (click)="pre_reclamo(datos)" color="warn">
                                            <mat-icon>cancel</mat-icon>
                                            <span> Reclamar alquiler</span>
                                        </button>

                                        <button mat-icon-button [matMenuTriggerFor]="menu1">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menu1="matMenu">

                                            <button mat-menu-item (click)="openDialogDatosLocatario(datos)">
                                                <mat-icon>person</mat-icon>
                                                <span>Datos del locatario</span>
                                            </button>

                                            <button mat-menu-item (click)="openDialogCodigoLocatario(datos)"
                                                *ngIf="datos.codigoPropietarioIngresado && !datos.codigoLocatarioIngresado">
                                                <mat-icon>format_align_justify</mat-icon>
                                                <span>Ingresar código locatario</span>
                                            </button>

                                            <button mat-menu-item (click)="openDialogCodigoLocatarioDevolucion(datos)"
                                                *ngIf="datos.codigoPropietrioDevolucionIngresado && !datos.codigoLocatarioDevolucionIngresado">
                                                <mat-icon>format_align_justify</mat-icon>
                                                <span>Ingresar código locatario devolución</span>
                                            </button>

                                            <button mat-menu-item *ngIf="datos.estado == 'Finalizado'">
                                                <mat-icon>star</mat-icon>
                                                <span>Puntuar al locatario</span>
                                            </button>
                                        </mat-menu>

                                    </div>
                                </div>
                            </mat-list-item>
                            <br>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <div fxHide.lt-lg="true">
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">add_shopping_cart</mat-icon>
                        Propios
                    </ng-template>
                </div>
                <div fxLayout="column" fxFlexFill fxLayoutAlign="center center" *ngIf="!hayAlquileresPropios">
                    <h2>No hay alquileres por mostrar</h2>
                </div>
                <div class=" mat-elevation-z4 contenedor-gral">
                    <br>
                    <div *ngIf="hayAlquileresPropios">
                        <div class="contenedorAlquiler"
                            *ngFor="let alquilerPropio of arrayDatosPropios; let indice = index">
                            <mat-list role="list">
                                <mat-list-item role="listitem">
                                    <div fxLayout="row" fxFlexFill>
                                        <div fxLayoutAlign="center" fxFlex="500">
                                            <img class="imagen"
                                                src="{{'http://localhost:4201/api/get-image-publicacion/'+ alquilerPropio.imagen}}">
                                            <!-- <img class="imagen"
                                                src="{{'https://oneuse-backend.herokuapp.com/api/get-image-publicacion/'+ alquilerPropio.imagen}}"> -->
                                        </div>

                                        <div class="info" fxLayout="column" fxFlex="300" fxLayoutAlign="center">
                                            <p mat-line><b>Persona a quien alquilaste:
                                                </b>{{alquilerPropio.name_usuarioPropietario}}</p>
                                            <p mat-line><b>Fecha de generación: </b>{{alquilerPropio.createdAt}}</p>
                                            <p mat-line><b>Cantidad de dias alquiler:
                                                </b>{{alquilerPropio.cantidadDias}}
                                            </p>
                                            <p mat-line><b>Estado del Alquiler: </b>{{alquilerPropio.estado}} </p>
                                            <p mat-line
                                                *ngIf="alquilerPropio.fuePagado && !alquilerPropio.codigoLocatarioIngresado">
                                                <b> Código entrega
                                                    locatario:</b>{{alquilerPropio.codigoEntregaLocatario}}
                                            </p>
                                            <p mat-line *ngIf="alquilerPropio.estado == 'En proceso de devolución'">
                                                <b> Código devolución
                                                    locatario:</b>{{alquilerPropio.codigoDevolucionLocatario}}
                                            </p>
                                            <p mat-line
                                                *ngIf="alquilerPropio.fuePagado && alquilerPropio.codigoLocatarioIngresado">
                                                <b> Fecha de devolución:
                                                </b>{{alquilerPropio.fechaCaducidadDevolucion}}
                                            </p>
                                        </div>
                                        <div class="info2" fxLayout="row" fxFlex="400" fxLayoutAlign="center center"
                                            fxLayoutGap="10px">
                                            <button *ngIf="alquilerPropio.estado == 'En proceso de entrega'"
                                                mat-raised-button routerLink="/reclamar-alquiler" color="warn">
                                                <mat-icon>cancel</mat-icon>
                                                <span> Reclamar alquiler</span>
                                            </button>
                                            <button *ngIf="alquilerPropio.estado == 'En proceso de pago'"
                                                mat-raised-button (click)="continuarPago(alquilerPropio)"
                                                color="primary">
                                                <mat-icon>credit_card</mat-icon>
                                                <span> Continuar con el pago</span>
                                            </button>
                                            <button *ngIf="alquilerPropio.estado == 'En proceso de pago'"
                                                mat-raised-button (click)="openDialogCancelar(alquilerPropio)"
                                                color="warn">
                                                <mat-icon>cancel</mat-icon>
                                                <span> Cancelar alquiler</span>
                                            </button>
                                            <button mat-icon-button [matMenuTriggerFor]="menu">
                                                <mat-icon>more_vert</mat-icon>
                                            </button>
                                            <mat-menu #menu="matMenu">
                                                <button mat-menu-item
                                                    (click)="openDialogDatosPropietario(alquilerPropio)">
                                                    <mat-icon>person</mat-icon>
                                                    <span>Datos del propietario</span>
                                                </button>
                                                <button mat-menu-item
                                                    (click)="openDialogCodigoPropietario(alquilerPropio)"
                                                    *ngIf="alquilerPropio.fuePagado && !alquilerPropio.codigoPropietarioIngresado">
                                                    <mat-icon>format_align_justify</mat-icon>
                                                    <span>Ingresar código propietario</span>
                                                </button>
                                                <button mat-menu-item
                                                    (click)="openDialogCodigoPropietarioDevolucion(alquilerPropio)"
                                                    *ngIf="!alquilerPropio.codigoPropietarioDevolucionIngresado && alquilerPropio.estado == 'En proceso de devolución'">
                                                    <mat-icon>format_align_justify</mat-icon>
                                                    <span>Ingresar código propietario devolución</span>
                                                </button>
                                                <button mat-menu-item *ngIf="alquilerPropio.estado == 'Finalizado'">
                                                    <mat-icon>star</mat-icon>
                                                    <span>Puntuar al propietario</span>
                                                </button>
                                            </mat-menu>

                                        </div>
                                    </div>
                                </mat-list-item>
                                <br>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>