<section style="margin-bottom: 30px; margin-top: 30px;">
    <form #frmLogin="ngForm" name=register id="login-form" action="#" method="post" [formGroup]="formGroup"
        fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center">
        <div class="mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="50px"
            style="width: 580px;">
            <div style="margin-top: 30px;">
                <div class="panel-heading" style="margin-top: 30px;">
                    <h3>Registrarse en el Sitio</h3>
                </div>
                <br>
                <mat-form-field hideRequiredMarker ngClass.lt-lg="input-sm">
                    <input type="email" matInput placeholder="Nombre de usuario" [(ngModel)]="registerUserData.name"
                        name="name" class="input-login" style="color: black !important" id="Nombre" tabindex="1"
                        formControlName="name" ngModel required (input)="habilitarRegistrar()">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="registerUserData.name=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="name.hasError('required')">Usuario requerido</mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker ngClass.lt-lg="input-sm">
                    <input #email_usuario type="email" matInput placeholder="E-mail"
                        [(ngModel)]="registerUserData.email" [pattern]="emailPattern" name="email" class="input-login"
                        style="color: black !important" name="email" id="username1" tabindex="1" formControlName="email"
                        ngModel required (input)="habilitarRegistrar()">
                    <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="registerUserData.email=''">
                        <mat-icon>close</mat-icon>
                    </button>
                    <mat-error *ngIf="email.hasError('pattern')">Email no válido</mat-error>
                    <mat-error *ngIf="email.hasError('required')">Email no válido</mat-error>
                </mat-form-field>

                <mat-form-field hideRequiredMarker ngClass.lt-lg="input-sm">
                    <input type="password" matInput placeholder="Contraseña" [(ngModel)]="registerUserData.password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[A-Za-z\d$@$!%*?&]{8,15}$" name="password"
                        [type]="hide ? 'password' : 'text'" class="input-login" style="color: black !important"
                        name="password" id="password" tabindex="2" formControlName="password" ngModel required
                        (input)="habilitarRegistrar()">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="password.hasError('pattern')">La contraseña debe tener al menos 8(ocho) caracteres
                        y
                        contener al menos una mayúscula y un dígito.</mat-error>
                    <mat-error *ngIf="password.hasError('required')">Contraseña requerida</mat-error>

                </mat-form-field>

                <mat-form-field hideRequiredMarker ngClass.lt-lg="input-sm">
                    <input type="password" matInput placeholder="Repetir contraseña"
                        [type]="hide2 ? 'password' : 'text'" class="input-login" style="color: black !important"
                        formControlName="password2" (input)="onPasswordInput()" required>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.hasError('required')">Contraseña es requerida</mat-error>
                    <mat-error *ngIf="password2.hasError('required')">Por favor, confirmar la contraseña</mat-error>
                    <mat-error *ngIf="password2.invalid && !password2.hasError('required')">Las contraseñas no coinciden
                    </mat-error>
                </mat-form-field>

                <div class="text-center mt_30" ngClass.lt-lg="input-sm">
                    <div #recaptcha style="display: inline-block;"></div>
                    <button id="submit" style="width: 100%; margin-top: 15px;" (click)="registerUser()" type="submit" [disabled]="!habilitado"
                        mat-raised-button color="primary">Registrarse</button>
                    <!--[disabled]="formGroup.invalid"-->
                    <p class="tycFoot">
                        <br>
                        Al registrarse, declara que es mayor de edad <br> y acepta los <a class="active"
                            href="/terminos-condiciones" title="Leer términos y condiciones">Términos y condiciones</a>
                        de
                        OneUse.
                    </p>

                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="15px" style="margin-bottom: 15px;">
                    <div class="text-center" ngClass.lt-lg="input-sm">
                        <a (click)="login()" tabindex="5" class="active"> ¿Ya tienes una cuenta? Inicia sesión
                        </a>
                    </div>
                    <div class="text-center" ngClass.lt-lg="input-sm">
                        <a href="#" (click)="lostPassword()" tabindex="5" class="forgot-password active">¿Olvidaste tu
                            contraseña?</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>