<section>
        
    <div fxLayout="column" fxLayoutAlign="center center"  ngClass.gt-sm="bloque-que-es-1use" fxLayoutGap="20px"
        ngClass.lt-lg="bloque-que-es-1use-mobile" fxLayout.lt-lg="column" fxFlexFill
        fxLayoutAlign.lt-lg="center center">
        <h3 class="titulo">Bienvenido al servicio de Reclamos de OneUse</h3>
        <div class=" tab-lt-md" style= "margin-bottom: 1px;">
                <mat-list style="padding-top:0px;" >
                        <mat-list-item>
                             <p id="tamaño">Si usted está realizando un alquiler <b>sin intervención</b>, esta vía
                            nos ayuda a detectar posibles usuarios que realicen un mal uso de nuestra plataforma, pero tal
                            como lo establecemos en nuestros términos y condiciones, bajo esta modalidad de alquiler,<b> la plataforma no se hace responsable
                                    de tu objeto.</b>
                                </p> 
                                </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <p id="tamaño">Si usted está realizando un alquiler <b>con intervención</b>, 
                                le solicitamos describir de la mejor manera posible el motivo de cancelación de alquiler
                            para poder velar sobre la seguridad de la transacción en todo momento.
                            <br>Un miembro del equipo de OneUse analizará su caso a la brevedad y  <b>se le enviará un mail a la casilla de correo </b>cuando su reclamo esté siendo analizado
                            por nuestro equipo.
                            </p>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                    
                      </mat-list>
            <p style="text-align: CENTER;">
                <br>
                Queremos brindarle el mejor servicio posible para que disfrute de una experiencia única en nuestra plataforma.
                
            </p>
        </div>

        <div style="padding-bottom: 28px;">
                <button mat-raised-button (click)="cancelacion()">Continuar con el reclamo</button>
        </div>  
    </div>
    

</section>