<!-- VESIÓN XL -->

<section style="margin-bottom: 80px" fxShow.gt-md="true" fxHide.lt-md="true" style="margin: 60px">
    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 30px">
        <div class="product-area-title">
            <h2 class=" h1">Categorías principales</h2>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px">

        <div class="single-product" routerLink='/busqueda/c/Hogar'>
            <div class="icon">
                <span class="lnr lnr-home"></span>
            </div>
            <div class="desc">
                <h4>Hogar</h4>
                <p style="height: 48px;">Artículos para el hogar</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Musica'>
            <div class="icon">
                <span class="lnr lnr-music-note"></span>
            </div>
            <div class="desc">
                <h4>Música</h4>
                <p style="height: 48px;">Instrumentos musicales, parlantes, micrófonos, otros</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Belleza'>
            <div class="icon">
                <span class="lnr lnr-shirt"></span>
            </div>
            <div class="desc">
                <h4>Moda</h4>
                <p style="height: 48px;">Indumentaria, Belleza y Cuidado Personal</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Herramientas'>
            <div class="icon">
                <span class="lnr lnr-construction"></span>
            </div>
            <div class="desc">
                <h4>Herramientas</h4>
                <p style="height: 48px;">Construcción,Industrial, Otros</p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px">

        <div class="single-product" routerLink='/busqueda/c/Tecnologia'>
            <div class="icon">
                <span class="lnr lnr-laptop-phone"></span>
            </div>
            <div class="desc">
                <h4>Tecnología</h4>
                <p style="height: 48px;">Computación, Electrónica, Accesorios</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Mascotas'>
            <div class="icon">
                <span class="lnr lnr-paw"></span>
            </div>
            <div class="desc">
                <h4>Mascotas</h4>
                <p style="height: 48px;">Artículos para mascotas</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Deporte'>
            <div class="icon">
                <span class="lnr lnr-bicycle"></span>
            </div>
            <div class="desc">
                <h4>Deportes</h4>
                <p style="height: 48px;">Deportes y aire libre</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Bebes'>
            <div class="icon">
                <span class="lnr lnr-gift"></span>
            </div>
            <div class="desc">
                <h4>Bebés</h4>
                <p style="height: 48px;"> Acessorios para bebés, juguetes, carritos, etc. </p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="80px" style="padding-left: 370px; padding-right: 370px">

        <div class="single-product" routerLink='/busqueda/c/Libros'>
            <div class="icon">
                <span class="lnr lnr-book"></span>
            </div>
            <div class="desc">
                <h4>Libros</h4>
                <p style="height: 48px;">Aventura, Ciencia Ficción, Gótico, etc.</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Otros'>
            <div class="icon">
                <span class="lnr lnr-smile"></span>
            </div>
            <div class="desc">
                <h4>Otros</h4>
                <p style="height: 48px;"> </p>
            </div>
        </div>

    </div>
</section>


<!-- VESIÓN MOBILE -->

<section style="margin-bottom: 80px" fxShow.lt-md="true" fxHide.gt-md="true">

    <div fxLayout="row" fxLayoutAlign="center" style="margin-top: 30px" >
        <div class="product-area-title">
            <h2 class=" h1">Categorías principales</h2>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div class="single-product" routerLink='/busqueda/c/Hogar'>
            <div class="icon">
                <span class="lnr lnr-home"></span>
            </div>
            <div class="desc">
                <h4>Hogar</h4>
                <p style="height: 48px;">Artículos para el hogar</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Musica'>
            <div class="icon">
                <span class="lnr lnr-music-note"></span>
            </div>
            <div class="desc">
                <h4>Música</h4>
                <p style="height: 48px;">Instrumentos musicales, parlantes, micrófonos, otros</p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div class="single-product" routerLink='/busqueda/c/Belleza'>
            <div class="icon">
                <span class="lnr lnr-shirt"></span>
            </div>
            <div class="desc">
                <h4>Moda</h4>
                <p style="height: 48px;">Indumentaria, Belleza y Cuidado Personal</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Herramientas'>
            <div class="icon">
                <span class="lnr lnr-construction"></span>
            </div>
            <div class="desc">
                <h4>Herramientas</h4>
                <p style="height: 48px;">Industrial, Otros</p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div class="single-product" routerLink='/busqueda/c/Tecnologia'>
            <div class="icon">
                <span class="lnr lnr-laptop-phone"></span>
            </div>
            <div class="desc">
                <h4>Tecnología</h4>
                <p style="height: 48px;">Computación, Electrónica, Accesorios</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Mascotas'>
            <div class="icon">
                <span class="lnr lnr-paw"></span>
            </div>
            <div class="desc">
                <h4>Mascotas</h4>
                <p style="height: 48px;">Artículos para mascotas</p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div class="single-product" routerLink='/busqueda/c/Deportes'>
            <div class="icon">
                <span class="lnr lnr-bicycle"></span>
            </div>
            <div class="desc">
                <h4>Deportes</h4>
                <p style="height: 48px;">Deportes y aire libre</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Bebes'>
            <div class="icon">
                <span class="lnr lnr-gift"></span>
            </div>
            <div class="desc">
                <h4>Bebés</h4>
                <p style="height: 48px;"> Acessorios para bebés, juguetes, carritos, etc. </p>
            </div>
        </div>

    </div>

    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">

        <div class="single-product" routerLink='/busqueda/c/Libros'>
            <div class="icon">
                <span class="lnr lnr-book"></span>
            </div>
            <div class="desc">
                <h4>Libros</h4>
                <p style="height: 48px;">Aventura, Ciencia Ficción, Gótico, etc.</p>
            </div>
        </div>

        <div class="single-product" routerLink='/busqueda/c/Otros'>
            <div class="icon">
                <span class="lnr lnr-smile"></span>
            </div>
            <div class="desc">
                <h4>Otros</h4>
                <p style="height: 48px;"> </p>
            </div>
        </div>

    </div>

</section>


<!-- <section id="services" class=" section-full">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class=" text-uppercase"></p>
                    <h2 class=" h1">Categorías <br> principales</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-home"></span>
                    </div>
                    <div class="desc">
                        <h4>Hogar</h4>
                        <p style="height: 48px;">Artículos para el hogar</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-music-note"></span>
                    </div>
                    <div class="desc">
                        <h4>Música</h4>
                        <p style="height: 48px;">Instrumentos musicales, parlantes, micrófonos, otros</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-shirt"></span>
                    </div>
                    <div class="desc">
                        <h4>Moda</h4>
                        <p style="height: 48px;">Indumentaria, Belleza y Cuidado Personal </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-book"></span>
                    </div>
                    <div class="desc">
                        <h4>Libros</h4>
                        <p style="height: 48px;">Ficción, Didácticos, Infantiles, Otros</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-laptop-phone"></span>
                    </div>
                    <div class="desc">
                        <h4>Tecnología</h4>
                        <p style="height: 48px;">Computación, Electrónica, Accesorios</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-paw"></span>
                    </div>
                    <div class="desc">
                        <h4>Mascotas</h4>
                        <p style="height: 48px;">Artículos para mascotas</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-bicycle"></span>
                    </div>
                    <div class="desc">
                        <h4>Deportes</h4>
                        <p style="height: 48px;">Deportes y aire libre.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-smile"></span>
                    </div>
                    <div class="desc">
                        <h4>Otros</h4>
                        <p style="height: 48px;"> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->