<h2 mat-dialog-title style="text-align: center">Detalle del reclamo</h2>
<mat-dialog-content class="mat-typography" style="width: 600px; text-align: justify;">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="20px">
        <div>
            <p *ngFor="let respuesta of respuestas"><b>{{respuesta.emisor_respuesta}}: </b> {{respuesta.respuesta}} </p>
            <textarea id='txt_rta' matInput style="font-size: 20px; margin-top: 15px;" placeholder="Responda su reclamo"
                [(ngModel)]="respuesta" name="respuesta_persona" cdkTextareaAutosize required>
            </textarea>
        </div>
    </div>
</mat-dialog-content>
<label id="lbl_cerrado"><input type="checkbox" id="close"> Cerrar Reclamo </label>

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" id='btn_rta' mat-dialog-close (click)="enviar_respuesta()">Enviar
        Respuesta</button>
    <button mat-raised-button color="primary" mat-dialog-close (click)="close()">Salir</button>
</mat-dialog-actions>