<section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid="">
    <header class="heroButtonsHeader">


    <section class="banner-area" style="
    padding-left: 20px;">
        
                <div class="col-lg-6 mt-30">
                    <div class="banner-content text-center">    
                        <h4 class="text-uppercase"><b>¡Estás a sólo un paso de activar tu cuenta en One Use!</b></h4>
                        <p class="text-uppercase">Te hemos enviado un mensaje a tu correo electrónico</p>

                        <img class="category-image" src="../../../assets/images/correoenviado.png"> 
                        <p class="text-uppercase"><b>Buscá</b> el correo electrónico de verificación 
                            <br> en tu bandeja de entrada <br> y <b>haz clic</b> en el vínculo que se muestra en el mensaje.  </p>

                      
                        <a class="primary-btn banner-btn" href="/home" >Volver al inicio</a>
                        

                    </div>
                </div>
           
    </section>
</header>
</section>