<section class="home_partials_herobuttons_view" data-view="home/partials/herobuttons" data-subid="">
    <header class="heroButtonsHeader">
        <section class="banner-area" style="padding-left: 20px;">
            <div class="col-lg-6 mt-30">
                <div class="banner-content text-center">
                    <h3 class="text-uppercase"><b>¡El reclamo fue realizado!</b></h3>
                    <br>
                    <h5 class="text-uppercase">Un miembro del equipo analizará tu caso. Cuando tengamos una resolución, serás notificado</h5>
                    <br>
                    <div style="height: 350px; width: 350px; background-color: white" fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
                        <mat-video [autoplay]="true" [preload]="true" [overlay]="false"
                            src="https://media.tenor.com/videos/51752ec7b31cb365a9ec3781efc30f37/mp4"></mat-video>
                    </div>
                    <br>
                    
                    <br>
                    <div>
                            <button mat-raised-button routerLink="/home">Volver al inicio</button>
                    </div>
                </div>
            </div>
        </section>
    </header>
</section>