<div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="center center" fxLayout.lt-lg="column" fxFlexFill
    fxLayoutAlign.lt-lg="center center">
    <div ngClass.gt-md="tab-gt-md" ngClass.lt-lg="tab-lt-md">
        <h2 style="text-align: center;">¡Estás a punto de cancelar el alquiler!</h2>
        <hr>
        <br>
        <form>
            <!-- #udpdateForm="ngForm" -->
            <mat-tab-group dynamicHeight>
                <mat-tab>
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">close</mat-icon>
                        No recibirás el producto que solicitaste.
                    </ng-template>
                    <br>

                    <mat-form-field>
                        <textarea matInput style="font-size: 20px"
                            placeholder="Escribe la mayor información posible sobre el motivo de su cancelación "
                            [(ngModel)]="reclamoData.motivo" name="motivo" cdkTextareaAutosize required></textarea>
                    </mat-form-field>
                    <mat-card-actions>
                        <div fxLayoutAlign="center center" styles="padding-bottom: 10px; height: 38px;">
                            <button mat-raised-button class="primary-btn banner-btn">Registrar cancelación</button>
                        </div>
                    </mat-card-actions>



                </mat-tab>

            </mat-tab-group>

        </form>
    </div>

</div>