<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="large" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> {{textoSpinner}} </p>
</ngx-spinner>

<div fxLayout="row" fxFlexFill>
    <div fxLayout fxFlexOrder="1" ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral-sa></app-barra-lateral-sa>
    </div>

    <div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="start center" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center" style="width: 100%; margin-top: 20px;margin-bottom: 20px">
        <div class="mat-elevation-z8" style="width: 95%; height: 100%;">
            <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px"
                fxLayoutAlign="center center">
                <div fxLayout="row" fxLayoutAlign="center center" style="font-size: 25px;margin-bottom: 40px;">
                    <p> Estadísticas </p>
                    <button mat-button (click)="ngOnInit();">
                        <mat-icon>update</mat-icon>
                    </button>
                </div>
                <mat-divider fxFlexFill></mat-divider>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="!mostrar" style="margin:50px">
                <mat-spinner diameter="200" ></mat-spinner>
                <p>Cargando...</p>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngIf="mostrar" style="padding: 20px;">
                <mat-form-field class="selector">
                    <mat-label>Estadística</mat-label>
                    <mat-select [(value)]="nombreEstadisticaSeleccionada">
                        <mat-option (click)="clicks('Elegir estadística')" value="none">
                            - Elegir
                            estadística -</mat-option>
                        <mat-optgroup *ngFor="let estGroup of estadisticas" [label]="estGroup.name">
                            <mat-option
                                (click)="estadisticaSeleccionada(estIndiv.viewValue);clicks('Estadística seleccionada')"
                                *ngFor="let estIndiv of estGroup.estadistica" [value]="estIndiv.value">
                                {{estIndiv.viewValue}}
                            </mat-option>
                        </mat-optgroup>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="selector"
                    *ngIf="publicacionesSubcategoriaSeleccionada || alquileresSubcategoriaSeleccionada">
                    <mat-label>Subcategoría</mat-label>

                    <mat-select [(value)]="categoriaSeleccionada">
                        <mat-option (click)="clicks('Elegir categoría'); " value="none">-
                            Elegir categoría -
                        </mat-option>
                        <div *ngIf="publicacionesSubcategoriaSeleccionada">
                            <mat-option *ngFor="let s of subcategorias" [value]="s"
                                (click)="subcategoriaSeleccionada('alquileres', s); clicks('Categoria seleccionada')">
                                {{s}}
                            </mat-option>
                        </div>
                        <div *ngIf="alquileresSubcategoriaSeleccionada">
                            <mat-option *ngFor="let s of subcategorias" [value]="s"
                                (click)="subcategoriaSeleccionada('publicaciones', s); clicks('Categoria seleccionada')">
                                {{s}}
                            </mat-option>
                        </div>


                    </mat-select>
                </mat-form-field>

                
                <mat-form-field class="selector" *ngIf="estadisticaGeneralSeleccionada">
                    <mat-label>Período de búsqueda</mat-label>

                    <mat-select [(value)]="periodoSeleccionado" [disabled]="deshabilitarPeriodo">
                        <mat-option (click)="clicks('Elegir período')" value="none"> - Elegir período - </mat-option>
                        <div *ngIf="periodoDiaMesAnio">
                            <mat-option (click)="calcularPorPeriodo(p)" *ngFor="let p of periodo" [value]="p">
                                {{p}}
                            </mat-option>
                        </div>
                        <div *ngIf="!periodoDiaMesAnio">
                            <mat-option (click)="calcularPorPeriodo(p)" *ngFor="let p of periodoRanking" [value]="p">
                                {{p}}
                            </mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="selector" *ngIf="periodoRankingMesHabilitado">
                    <mat-label>Meses por filtrar</mat-label>

                    <mat-select [(value)]="periodoRankingMesSeleccionado">
                        <mat-option (click)="clicks('Elegir período mes ranking')" value="none"> - Elegir período -
                        </mat-option>
                        <mat-option (click)="calcularPorPeriodoMesRanking(p.value,p.viewValue)"
                            *ngFor="let p of periodoRankingMes" [value]="p">
                            {{p.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="selector" *ngIf="periodoRankingAnioHabilitado">
                    <mat-label>Año por filtrar</mat-label>

                    <mat-select [(value)]="periodoRankingAnioSeleccionado">
                        <mat-option (click)="clicks('Elegir período anio ranking')" value="none"> - Elegir período -
                        </mat-option>
                        <mat-option (click)="calcularPorPeriodoAnioRanking(p)" *ngFor="let p of periodoRankingAnio"
                            [value]="p">
                            {{p}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
                <fusioncharts [width]="width" [height]="height" [type]="type" [dataFormat]="dataFormat"
                    [dataSource]="dataSource" *ngIf="mostrarGrafico">
                </fusioncharts>
            </div>
            <div fxLayout="column" fxLayoutAlign="center center" *ngIf="noHayDatos" style="height: 50%;">
                <h5>No se encontraron datos para la estadística seleccionada</h5>
            </div>
        </div>
    </div>
</div>