
.banner-area {
    /* background: url(../../../assets/images/banner.jpg) no-repeat center center/cover; */
    background-color: #fff
   }
 
   .relative {
     position: relative;
   }
 
   
 .banner-area .overlay-bg {
     padding-left: 20px; 
     background: -moz-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
     background: -webkit-linear-gradient(left, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
     background: linear-gradient(to right, rgba(60, 64, 143, 0.95) 0%, rgba(91, 97, 207, 0.95) 100%);
   }
 
 /* .ulim {
     list-style-image: url("../../../assets/images/check.png") !important;
   } */
 
 
   banner-content{ 
       padding-left: 20px; 
 
   } 
   address {
     margin-bottom: 1rem;
     font-style: normal;
     line-height: inherit;
   }
 
   
 .primary-btn {
     line-height: 40px;
     padding: 0 40px;
     border-radius: 20px;
     background: transparent;
     border: 1px solid #ffd60f;
     color: #222222;
     display: inline-block;
     font-weight: 600;
     -webkit-transition: all 0.3s ease 0s;
     -moz-transition: all 0.3s ease 0s;
     -o-transition: all 0.3s ease 0s;
     transition: all 0.3s ease 0s;
     cursor: pointer;
   }
   
   .primary-btn:focus {
     outline: none;
   }
   
   .primary-btn.banner-btn {
     color: rgb(3, 3, 3);
     margin-top: 20px;
   }
   
   .primary-btn span {
     margin-left: 15px;
   }
   
   .primary-btn:hover {
     background: #4a70af;
     color: #fff;
     box-shadow: 0px 10px 20px 0px rgba(60, 64, 143, 0.2);
   }