<form [formGroup]="mercadoPagoFormGroup">
    <section fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <div>
            <mat-form-field>
                <input matInput placeholder="Descripción del objeto" formControlName="description" name="description"
                    id="description" (ngModelChange)="description = $event" [(value)]=" description">
            </mat-form-field>

            <mat-form-field>
                <span matPrefix>$</span>
                <input matInput #monto maxlength="6" placeholder="Monto a pagar" formControlName="transaction_amount"
                    id="transaction_amount" name="transaction_amount" [(value)]="transaction_amount">
                <mat-hint align="start">{{monto.value.length}} / 6</mat-hint>
            </mat-form-field>

            <!--LO OCULTO PORQUE SOLO ME SIRVE DE REFERENCIA PARA SETPAYMENTMETHOD()-->
            <input type="hidden" id="transaction_amount_hidden" [(value)]="transaction_amount" />

            <mat-form-field>
                <input matInput placeholder="Número de tarjeta" formControlName="cardNumber" name="cardNumber"
                    id="cardNumber" (ngModelChange)="cardNumber = $event" required (keyup)="guessPaymentMethod()"
                    (change)="guessPaymentMethod()" onselectstart="return false" data-checkout="cardNumber">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Nombre y apellido" formControlName="cardholderName" name="cardholderName"
                    id="cardholderName" (ngModelChange)="cardholderName = $event" required
                    (change)="desencapsularDatosForm()" (keyup)="desencapsularDatosForm()">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Mes de vencimiento" formControlName="cardExpirationMonth"
                    id="cardExpirationMonth" name="cardExpirationMonth" (ngModelChange)="cardExpirationMonth = $event"
                    required data-checkout="cardExpirationMonth" onselectstart="return false" onpaste="return false"
                    onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false"
                    autocomplete=off (change)="desencapsularDatosForm()" (keyup)="desencapsularDatosForm()">
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Año de vencimiento" formControlName="cardExpirationYear"
                    id="cardExpirationYear" name="cardExpirationYear" (ngModelChange)="cardExpirationYear = $event"
                    required data-checkout="cardExpirationYear" onselectstart="return false" onpaste="return false"
                    onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false"
                    autocomplete=off (change)="desencapsularDatosForm()" (keyup)="desencapsularDatosForm()">
            </mat-form-field>

        </div>

        <div>
            <mat-form-field>
                <input matInput placeholder="Código de seguridad" formControlName="securityCode" name="securityCode"
                    id="securityCode" (ngModelChange)="securityCode = $event" required data-checkout="securityCode"
                    onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false"
                    onDrag="return false" onDrop="return false" autocomplete=off (change)="desencapsularDatosForm()"
                    (keyup)="desencapsularDatosForm()">
            </mat-form-field>

            <!--LO OCULTO PORQUE SOLO ME SIRVE DE REFERENCIA PARA SETPAYMENTMETHOD()-->
            <select hidden id="installments_hidden"></select>

            <mat-form-field *ngIf="hayCuotas">
                <!--*ngIf="hayCuotas"-->
                <mat-label>Cuotas</mat-label>
                <mat-select required formControlName="installments" name="installments">
                    <mat-option *ngFor="let cuota of cuotas" [value]="cuota"> {{cuota}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <mat-label>Tipo de documento</mat-label>
                <mat-select required formControlName="docType" name="docType">
                    <mat-option *ngFor="let tipo of tiposDni" [value]="tipo"> {{tipo}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Número de documento" formControlName="docNumber" name="docNumber"
                    id="docNumber" (ngModelChange)="docNumber = $event" (change)="desencapsularDatosForm()"
                    (keyup)="desencapsularDatosForm()" required>
            </mat-form-field>

            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email" name="email" id="email"
                    (ngModelChange)="email = $event" (change)="desencapsularDatosForm()"
                    (keyup)="desencapsularDatosForm()" required>
            </mat-form-field>
        </div>
    </section>
    <input type="hidden" name="payment_method_id" id="payment_method_id" />
    <div style="text-align: center;">
        <button mat-raised-button color="primary" (click)="doPay($event); back()">Pagar</button>
    </div>
</form>

<form method="post" id="pay" name="pay" hidden>
    <fieldset>
        <input name="description2" id="description2" />
        <input name="transaction_amount2" id="transaction_amount2" />
        <input id="cardNumber2" data-checkout="cardNumber" />
        <input id="cardholderName2" data-checkout="cardholderName" />
        <input id="cardExpirationMonth2" data-checkout="cardExpirationMonth" />
        <input id="cardExpirationYear2" data-checkout="cardExpirationYear" />
        <input id="securityCode2" data-checkout="securityCode" />
        <option id="installments2" name="installments2"></option>
        <option id="docType2" data-checkout="docType"></option>
        <input id="docNumber2" data-checkout="docNumber" />
        <input id="email2" name="email2" />
        <input name="payment_method_id2" id="payment_method_id2" />
    </fieldset>
</form>


<div fxLayout="row" fxLayoutAlign="center center" id="mp"></div>