<div fxLayout="row" fxFlexFill>
    <div fxLayout ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>
    <section class="container-notificaciones" fxLayout="column" fxLayoutGap="15px">
        <div *ngIf="!hayDatos" fxFlexAlign="center">
            <h3> No hay notificaciones por mostrar </h3>
        </div>
        <div *ngIf="    hayDatos" class="mat-elevation-z8">
            <mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
                    <mat-cell mat-menu-item *matCellDef="let row" style="height: 100%; line-height: 38px"
                        routerLink="/publicaciones/{{row.id_publicacion}}">
                        <div fxLayout="row" fxLayoutGap="20px" style="margin-top: 10px;">
                            <div>
                                <img class="container-muestra-imagenes"
                                    src="{{'http://localhost:4201/api/get-image-publicacion/'+ row.imagen}}">
                                <!-- <img class="container-muestra-imagenes"
                                    src="{{'https://oneuse-backend.herokuapp.com/api/get-image-publicacion/'+ row.imagen}}"> -->
                            </div>
                            <div>
                                <h4> {{row.titulo}} {{row.tituloPublicacion}} </h4>
                                <p> {{row.mensaje_notificacion}} </p>
                                <p> Fecha de notificación: {{row.createdAt}} </p>
                            </div>
                        </div>
                    </mat-cell>
                </ng-container>
                <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[1,5,10,15,20,25,50]">
            </mat-paginator>
        </div>
    </section>

</div>