.toolbar-div-lt-md {
    width: 80px;
    font-size: 6px !important;
}

 .tab-lt-md {
    width: 300px;
    height: 500px;
    padding-top: 10px;
    text-align: center;
}

.tab-gt-md {
    width: 800px;
    height: 500px;
    padding-left: 35px;
    padding-top: 10px
} 
.iconitos {
    display: inline;
    margin-left: 10px;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: black;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a:hover, a:focus {
    color: rgb(253, 187, 48);
    text-decoration: none;
    transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
    -webkit-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
}

a, a:focus, a:active, a:link, img {
    outline: none;
    text-decoration: none;
}
mat-toolbar{
    background: rgb(215,215,215);
}



.container-notificaciones{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 100%;
    height: 100%;

}

.container-una-notificacion{
    min-width: 100%;
    width: 100%;
}

.container-muestra-imagenes {
    width: 100px;
    height: 100px;
}