<div fxLayout="row" fxFlexFill>
    <div fxLayout ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>
    <section ngClass.gt-md="container-gt-md mat-elevation-z8" ngClass.lt-md="container-lt-md mat-elevation-z8"
        fxLayout="column" fxLayoutGap="5px" fxLayoutAlign="start center">
        <div style="width: 100%; text-align: center; margin-top: 30px;">
            <p style="font-size: 25px;margin-bottom: 25px;margin-top: 25px;">Notificaciones</p>
            <mat-divider style="width:100%;"></mat-divider>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="!mostrar"
            style="height: 100%; margin:50px">
            <mat-spinner diameter="200"></mat-spinner>
            <p>Cargando...</p>
        </div>
        <div *ngIf="!hayDatos && mostrar" style="height: 100%;width: 100%;">
            <h3 style="height: 100%; align-items: center;place-content: center center; display: flex;"> No hay
                notificaciones por mostrar </h3>
        </div>
        <div *ngIf="hayDatos && mostrar">
            <div *ngFor="let notificacion of notificaciones_usuario_logueado; let indice = index">
                <div class="mat-elevation-z8 contenedor-individual" fxLayoutAlign="start center" style="cursor: pointer;" routerLink="/publicaciones/{{notificacion.id_publicacion}}">
                    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                        <a id="titulo" fxLayout="column" fxLayoutAlign="center center"
                            routerLink="/publicaciones/{{notificacion.id_publicacion}}" style="cursor: pointer;"
                            matTooltip="Ir a la publicación" matTooltipPosition="left" target="_blank">
                            <img class="imagen"
                                src="{{'http://localhost:4201/api/get-image-publicacion/'+ notificacion.imagen}}">
                        </a>

                        <p> {{notificacion.mensaje_notificacion}} </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>