.toolbar-div-lt-md {
    width: 80px;
    font-size: 6px !important;
}

.tab-lt-md {
    width: 300px;
    height: 500px;
    padding-top: 10px;
    text-align: center;
}

.tab-gt-md {
    width: 800px;
    height: 500px;
    padding-left: 35px;
    padding-top: 10px
}

.container-muestra-imagenes {
    width: 248px;
    height: 250px;
    border: 2px black solid;
}

.container-gt-md {
    width: 100%;
    margin-block: 30px;
    margin-inline: 150px;
}

.container-lt-md {
    width: 86%;
}

.mat-tab-labels {
    justify-content: center !important
}

mat-toolbar {
    background: #ffffff;
    border-right: 1px outset;
}

.mat-body, .mat-body-1, .mat-typography {
    font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
}

.imagen {
    height: 80px;
    width: 80px;
}

p {
    font-size: 12px;
}

.contenedor-individual {
    background: #ffffff;
    margin: 20px;
    height: 100px;
    width: 800px;
    padding: 10px;
}