<section fxLayout.gt-md="row" fxLayoutAlign.gt-md="center center" fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="center center">
    
    <div fxLayout.gt-md="column" ngClass.gt-md="div-img-gt-md" fxLayout.lt-lg="column" ngClass.lt-lg="div-img-lt-md">
        <img ngClass.gt-md="img-gt-md" ngClass.lt-lg="img-lt-md" src="../../../../assets/images/E3.png" >
    </div>

    <div fxLayout.gt-md="column" fxLayoutAlign.gt-md="center center" class="text" fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center center">
        <ul style="color: white !important">
            <li>Boulevard Illia 255 7C</li>
            <li>one.use.pf@gmail.com</li>
        </ul>

        <div class="social_icon" style="text-align: left !important">
            <ul>
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-google"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            </ul>
        </div>

        <div class="copyright-part" style="text-align: center !important">
            © 2021 All Rights Reserved One Use
        </div>

    </div>
</section>


<!-- <mat-grid-list cols="3" rowHeight="fit" style="height: 40%" gutterSize="0px">
    <mat-grid-tile>
        <div>
            <div style="text-align: left !important" cols="3">
                <a [routerLink]="['/home']"> <img class="footer-logo" src="../assets/images/E3.png" alt="OneUse"></a>
            </div>
            <ul style="color: white !important">
                <li>Boulevar Illia 255 7C</li>
                <li>(02336) - 492851</li>
                <li>OneUse@loscracks.com</li>
            </ul>
            <div class="social_icon" style="text-align: left !important">
                <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-google"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                </ul>
            </div>
            <div class="copyright-part" style="text-align: center !important">@ 2018 All Rights Reserved One Use
            </div>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="justify-footer">
        <div>


            <h6 class="footer-title ptb_20">Categorías</h6>
            <ul>
                <li><a href="#">Electrónica</a></li>
                <li><a href="#">Música</a></li>
                <li><a href="#">Deporte</a></li>
                <li><a href="#">Artículos del hogar</a></li>
                <li><a href="#">Otros</a></li>
            </ul>
        </div>
    </mat-grid-tile>
    <mat-grid-tile class="justify-footer">
        <div>
            <h6 class="footer-title ptb_20">Información</h6>
            <ul>
                <li><a [routerLink]="['/about']">Sobre nosotros</a></li>
                <li><a [routerLink]="['/terminos-condiciones']">Términos y condiciones</a></li>
            </ul>
        </div>
    </mat-grid-tile>
</mat-grid-list> -->