<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white"> Cargando información... </p>
</ngx-spinner>


<section *ngIf="hayQueDestacar">
    <div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="start center" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center" style="margin: 45px; padding-right: 150px;padding-left: 150px;">
        <div class="mat-elevation-z8" style="width: 95%;">
            <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px"
                fxLayoutAlign="center center">
                <p style="font-size: 25px;margin-bottom: 40px; "> Selecciona la opción para destacar tu producto </p>
                <mat-divider fxFlexFill></mat-divider>
            </div>

            <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 60px;">
                <mat-card class="tamaño-card">
                    <mat-card-header>
                        <div mat-card-avatar class="plata"></div>

                        <mat-card-title>PLATINIUM</mat-card-title>
                        <br>
                        <br>

                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <div fxLayoutAlign="center center">
                        <img mat-card-image class="escudos" src="../../../assets/images/silver.png">
                    </div>
                    <mat-card-content>
                        <p>
                            Con tu cuenta <b>PLATINIUM</b> podrás tener tu publicación una semana destacada, lo que
                            permitirá
                            que aparezca en las primeras posiciones en las búsquedas.
                        </p>
                        <br>
                        <p>
                            <b>PRECIO PLATINUM: $2000</b>
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div fxLayout fxLayoutAlign="center center">
                            <button mat-fab color="primary" (click)="mostrarDatosPlatinium()">ELEGIR</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
                <mat-card class="tamaño-card">
                    <mat-card-header>
                        <div mat-card-avatar class="oro"></div>
                        <mat-card-title>GOLD</mat-card-title>
                        <br>
                        <br>
                    </mat-card-header>
                    <mat-divider></mat-divider>
                    <div fxLayoutAlign="center center">
                        <img class="escudos" mat-card-image src="../../../assets/images/gold.png">
                    </div>
                    <mat-card-content>
                        <p>
                            Con tu cuenta <b>GOLD</b> podrás tener tu publicación una mes destacada, lo que permitirá
                            que
                            aparezca en las primeras posiciones en las búsquedas.
                        </p>
                        <br>
                        <p>
                            <b>PRECIO GOLD: $2800</b>
                        </p>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions>
                        <div fxLayout fxLayoutAlign="center center">
                            <button mat-fab color="primary" (click)="mostrarDatosGold()">ELEGIR</button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>

    <div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="start center" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center" style="padding-right: 150px;padding-left: 150px;margin: 45px;"
        *ngIf="destacacion">
        <div class="mat-elevation-z8" style="width: 95%;">
            <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px"
                fxLayoutAlign="center center">
                <p style="font-size: 25px;margin-bottom: 40px; "> Paga tu destacación </p>
                <mat-divider fxFlexFill></mat-divider>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" style="margin-top: 30px;">
                    <div *ngIf="titulo == 'PLATINIUM'">
                        <img mat-card-image class="escudos" src="../../../assets/images/silver.png">
                    </div>
                    <div *ngIf="titulo == 'GOLD'">
                        <img class="escudos" mat-card-image src="../../../assets/images/gold.png">
                    </div>
                    <div fxLayout="column" fxLayoutAlign="start start">
                        <h5><b>DESTACACIÓN {{titulo}}</b></h5>
                        <h5>Tiene un costo de ${{precio}} y {{descripcion}}</h5>
                    </div>
                </div>
                <div fxLayoutAlign="center center">
                    <br>
                    <br>
                    <br>
                    <div id="ultimo">
                        <div fxLayout="row" fxLayoutAlign="center center" id="mp0"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!hayQueDestacar" style="margin: 40px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
        <img src="../../../assets/images/travolta-crunched.gif" style="block-size: 200px;">
        <h5> Lo sentimos, pero no se pudo encontrar la publicación a destacar </h5>
        <button mat-raised-button id="btnError" color="primary" (click)="inicio()">Visitar página de inicio</button>
    </div>
</section>