<ngx-spinner bdColor="rgb(0,0,1)" size="medium" color="#ffffff" type="timer" [fullScreen]="true">
    <p style="color: white"> Cargando publicación... </p>
</ngx-spinner>

<section *ngIf="mostrar && publicacion.deshabilitada" style="background: rgb(238, 240, 241); height: 100%;">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding: 30px;">
        <img style="width: 300px; height: 300px;" src="../../../../assets/images/error_pub.png">
        <h4>La publicación ha sido desactivada por un moderador ya que no cumplía con los términos y condiciones del
            sitio.</h4>
        <button mat-raised-button color="primary" routerLink="/home">Volver al inicio</button>
    </div>
</section>

<section *ngIf="mostrar && !publicacion.deshabilitada">
    <div class="chips">
        <mat-chip-list>
            <mat-chip color="primary" selected>{{publicacion.categoria}}</mat-chip>
            <mat-chip color="primary" selected>{{publicacion.subcategoria}}</mat-chip>
            <mat-chip *ngIf="!es_publicador" style="margin-left: auto;" color="warn" selected
                (click)="denunciar('','publicacion')">
                <mat-icon>report</mat-icon>
                <span style="margin-left: 5px;">Denunciar</span>
            </mat-chip>
        </mat-chip-list>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" class="contenedor-principal">
        <!--Contenedor blanco-->
        <div fxLayout="row" fxLayoutAlign="center" fxFlexFill style="background: #fff;">
            <!--Contenedor fotos + descripción-->
            <div fxFlex="568px">
                <div class="contenedor-1">
                    <swiper class="swiper-container" [config]="config" fxFlexAlign="center">
                        <div *ngFor="let img of publicacion.multiplefile; let indice2 = index">
                            <img class="container-muestra-imagenes"
                                src="{{'http://localhost:4201/api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}">
                        </div>
                    </swiper>
                </div>
                <mat-divider style="margin-top: 10px;"></mat-divider>
                <div class="descripcion">
                    <h3 style="text-align: center;">Descripción </h3>
                    <br>
                    <p style="text-align: justify; font-size: 14px;">{{publicacion.descripcion}} </p>
                </div>
                <mat-divider></mat-divider>
                <div *ngIf="!esActiva" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
                    style="font-size: 11px; margin-top: 50px;">
                    <mat-icon style="color: cornflowerblue"> info </mat-icon>
                    <span>La publicación se encuentra <b>desactivada</b> y no se pueden realizar preguntas</span>
                </div>
                <div class="preguntasRespuestas" *ngIf="!es_publicador && esActiva">
                    <h3>Preguntas y respuestas</h3>
                    <br><br>
                    <mat-form-field>
                        <textarea #message maxlength="256" style="min-height: 0px;" matInput [(ngModel)]=valorPregunta
                            placeholder="Escribir una pregunta..."></textarea>
                        <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                    </mat-form-field>
                    <button #btnPreguntar class="btnPreguntar" (click)="enviarPregunta(message.value)" mat-raised-button
                        color="primary">Preguntar</button>
                </div>
                <div class="ultimasPreguntas">
                    <h3><b>Últimas preguntas</b></h3>
                    <br>
                    <div *ngIf="tienePreguntas" style="margin: 10px;">
                        <div *ngFor="let pregunta of preguntas" class="mat-elevation-z4"
                            style="padding-bottom: 1px; padding-inline: 20px; padding-top: 15px; margin-bottom: 15px;">
                            <!--Pregunta-->
                            <div fxLayout="column" fxLayoutAlign="start start" style="overflow-wrap:anywhere"
                                *ngIf="pregunta.mostrarDenunciaPregunta">
                                <div fxLayout="row" fxLayoutGap="6px" style="width: 100%;">
                                    <p *ngIf="pregunta.pregunta_inhabilitada == false"
                                        style="color: gray; font-style: italic;">La pregunta realizada está siendo
                                        <b>verificada</b> por un administrador del sitio.
                                    </p>
                                    <p *ngIf="pregunta.pregunta_inhabilitada == true"
                                        style="color: gray; font-style: italic;">La pregunta realizada fue
                                        <b>deshabilitada</b>
                                        por un administrador del sitio.
                                    </p>
                                </div>
                                <div fxLayoutAlign="end" style="width: 100%;">
                                    <p style="font-size: 9px; margin-bottom: 10px;">
                                        <b>{{pregunta.usuario_pregunta}}</b>
                                        - {{pregunta.createdAt_formatted}}
                                    </p>
                                </div>
                            </div>
                            <div fxLayout="column" fxLayoutAlign="start start" style="overflow-wrap:anywhere"
                                *ngIf="!pregunta.mostrarDenunciaPregunta">
                                <div fxLayout="row" fxLayoutGap="6px" style="width: 100%;">
                                    <div style="font-size: 35px;margin-right: 0px;"
                                        (click)="denunciar(pregunta,'pregunta')"
                                        *ngIf="pregunta.usuario_pregunta != usuario_logueado.name">
                                        <mat-icon *ngIf="!pregunta.denunciarPregunta"
                                            (mouseover)="denunciarPregunta(pregunta, $event)"
                                            matTooltip="Denunciar pregunta" matTooltipPosition="left"
                                            style="color: gainsboro;">report</mat-icon>
                                        <mat-icon *ngIf="pregunta.denunciarPregunta"
                                            (mouseout)="denunciarPregunta(pregunta, $event)"
                                            matTooltip="Denunciar pregunta" matTooltipPosition="left"
                                            style="color: red;">report</mat-icon>
                                    </div>

                                    <div>
                                        <mat-icon>chat</mat-icon>
                                    </div>
                                    <div>
                                        <p>{{pregunta.pregunta}}</p>
                                    </div>
                                </div>
                                <div fxLayoutAlign="end" style="width: 100%;">
                                    <p style="font-size: 9px; margin-bottom: 10px;">
                                        <b>{{pregunta.usuario_pregunta}}</b>
                                        - {{pregunta.createdAt_formatted}}
                                    </p>
                                </div>
                            </div>
                            <!--Respuesta-->
                            <div fxLayout="column" style="margin-bottom: 30px;" *ngIf="pregunta.tiene_respuesta">
                                <div fxLayout="column" fxLayoutAlign="start start" style="overflow-wrap:anywhere"
                                    *ngIf="pregunta.mostrarDenunciaRespuesta">
                                    <div fxLayout="row" fxLayoutGap="6px" style="width: 100%;">
                                        <p *ngIf="pregunta.respuesta_inhabilitada == false"
                                            style="color: gray; font-style: italic;">La respuesta realizada está siendo
                                            <b>verificada</b> por un administrador del sitio.
                                        </p>
                                        <p *ngIf="pregunta.respuesta_inhabilitada == true"
                                            style="color: gray; font-style: italic;">La respuesta realizada fue
                                            <b>deshabilitada</b>
                                            por un administrador del sitio.
                                        </p>
                                    </div>
                                    <div fxLayoutAlign="end" style="width: 100%;">
                                        <p style="font-size: 9px;"> <b>{{pregunta.usuario_publicacion}}</b> -
                                            {{pregunta.updatedAt_formatted}} </p>
                                    </div>
                                </div>
                                <div *ngIf="!pregunta.mostrarDenunciaRespuesta">
                                    <div fxLayout="row" fxLayoutGap="10px">
                                        <div (click)="denunciar(pregunta,'respuesta')"
                                            *ngIf="pregunta.usuario_publicacion != usuario_logueado.name">
                                            <mat-icon *ngIf="!pregunta.denunciarRespuesta"
                                                (mouseover)="denunciarRespuesta(pregunta, $event)"
                                                matTooltip="Denunciar respuesta" matTooltipPosition="left"
                                                style="color: gainsboro;">report</mat-icon>
                                            <mat-icon *ngIf="pregunta.denunciarRespuesta"
                                                (mouseout)="denunciarRespuesta(pregunta, $event)"
                                                matTooltip="Denunciar respuesta" matTooltipPosition="left"
                                                style="color: red;">report</mat-icon>
                                        </div>
                                        <div>
                                            <mat-icon>comment</mat-icon>
                                        </div>
                                        <div>
                                            <p> {{pregunta.respuesta}} </p>
                                        </div>
                                    </div>
                                    <div fxLayoutAlign="end">
                                        <div>
                                            <p style="font-size: 9px;"> <b>{{pregunta.usuario_publicacion}}</b> -
                                                {{pregunta.updatedAt_formatted}} </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="!pregunta.tiene_respuesta">
                                <div fxLayout="row" style="margin-bottom: 30px;">
                                    <div fxLayoutAlign="center center" *ngIf="!es_publicador" style="margin-left: 35px">
                                        <mat-icon>help</mat-icon>
                                    </div>
                                    <div style="margin-left: 10px" *ngIf="!es_publicador">
                                        <p> Por el momento no hay respuesta a esta pregunta </p>
                                    </div>
                                    <div class="respuesta" *ngIf="es_publicador && !pregunta.tiene_respuesta"
                                        fxFlexFill>
                                        <mat-form-field>
                                            <textarea #message maxlength="256" style="min-height: 0px;" matInput
                                                placeholder="Escribir una respuesta..."></textarea>
                                            <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                        </mat-form-field>
                                        <button class="btnPreguntar" (click)="enviarRespuesta(message.value, pregunta)"
                                            mat-raised-button color="primary">Responder</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="!tienePreguntas" style="margin: 10px;">
                        <div fxLayout="row" style="margin-bottom: 10px; margin-left: 10px">
                            <div fxLayoutAlign="center center">
                                <mat-icon>help</mat-icon>
                            </div>
                            <div>
                                <p>Hasta el momento, no se han realizado preguntas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <mat-divider vertical="true"></mat-divider>


            <!--Contenedor de precio + Alquilar-->
            <div fxLayout="column" fxFlexAlign="start" fxFlex="500px">
                <div class="contenedor-2">
                    <h2 fxFlexAlign="center"> <b>{{publicacion.titulo}}</b> </h2>
                    <br>
                    <h2 fxFlexAlign="start"><b>${{publicacion.preciodia}}</b></h2>
                    <br>
                    <p fxFlexAlign="start" *ngIf="publicacion.preciosemana > 0"><b>Precio por semana: </b>
                        ${{publicacion.preciosemana}} </p>
                    <p fxFlexAlign="start" *ngIf="publicacion.preciomes > 0"><b>Precio por mes: </b>
                        ${{publicacion.preciomes}} </p>
                    <p fxFlexAlign="start" (click)="irUsuario()" style="cursor: pointer;">
                        <b>Publicado por </b>
                        <span style="color: #3483fa">{{usuario_publicador.name}}</span>
                    </p>
                    <br>
                    <div *ngIf="!esActiva" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
                        style="font-size: 9px;">
                        <mat-icon style="color: cornflowerblue"> info </mat-icon>
                        <span>La publicación se encuentra <b>desactivada</b> y no se puede realizar un alquiler de la
                            misma</span>
                    </div>
                    <form [formGroup]="cantidades" *ngIf="esActiva">
                        <div fxLayout="row" fxFlexFill fxLayoutGap="20px" *ngIf="estaLogueado && !es_publicador">
                            <mat-form-field style="width: 150px">
                                <mat-label>Cantidad a alquilar</mat-label>
                                <mat-select formControlName="cantidadDisponibleSeleccionada"
                                    name="cantidadDisponibleSeleccionada"
                                    (ngModelChange)="cantidadDisponibleSeleccionada = $event; habilitarAlquilar()">
                                    <mat-option *ngFor="let c of arrayCantidadDisponible; let indice = index"
                                        [value]="arrayCantidadDisponible[indice]">
                                        {{arrayCantidadDisponible[indice]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field style="width: 240px">
                                <mat-label>Cantidad de días de alquiler</mat-label>
                                <mat-select formControlName="cantidadDiasSeleccionado" name="cantidadDiasSeleccionado"
                                    (ngModelChange)="cantidadDiasSeleccionado = $event; habilitarAlquilar()">
                                    <mat-option *ngFor="let c of arraycantidadDias; let indice = index"
                                        [value]="arraycantidadDias[indice]">
                                        {{arraycantidadDias[indice]}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                    <div class="btnAlquilar" *ngIf="esActiva">
                        <p *ngIf="montoTotal > 0"
                            style="text-align: left;font-size: 12px;color: orangered; margin-bottom: 10px;">Monto total
                            a abonar: ${{montoTotal}} </p>
                        <button (click)="iniciarSesion()" style="width: 300px;" mat-raised-button color="primary"
                            *ngIf="!estaLogueado">Iniciar sesión para poder alquilar</button>
                        <button routerLink='/editar-publicacion/{{id}}' style="width: 300px;" mat-raised-button
                            color="primary" *ngIf="estaLogueado && es_publicador">Editar</button>
                        <button (click)="registrarAlquiler()" style="width: 300px;" mat-raised-button color="primary"
                            *ngIf="estaLogueado && !es_publicador && usuarioCompleto"
                            [disabled]="btnAlquilar">Alquilar</button>
                        <button (click)="completarPerfil()" style="width: 400px;" mat-raised-button color="primary"
                            *ngIf="estaLogueado && !es_publicador && !usuarioCompleto">Debes completar tu perfil para
                            poder realizar el alquiler</button>
                    </div>
                </div>
                <br>
                <mat-divider></mat-divider>
                <div class="tipoAlquiler">
                    <h3>Tipo de alquiler</h3>
                    <br>
                    <div *ngIf=esConIntervencion>
                        <div fxLayout="roe" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <mat-icon style="color: green;">check</mat-icon>
                            <span style="text-align: justify; margin-left: 23px">Este producto se encuentra asegurado
                                ante
                                incidentes.</span>
                        </div>
                        <br>
                        <a [matTooltipPosition]="position" matTooltip="Se basa en la obtención de un seguro contra reembolso con el objetivo de proteger
                        al objeto alquilado de algún daño que pueda surgir durante la ejecución del alquiler.
                         Este seguro consiste en el depósito de un monto adicional que
                        depende del tipo de objeto que el interesado en alquilar ha pagado por el mismo y
                        será devuelto luego de que el propietario verifique el estado del objeto, no pudiendo
                        pasar más de 24 hs de lo contrario se considera que el objeto fue entregado en
                        buenas condiciones, finalizando la transacción." style="color: #3483fa">Más información
                        </a>
                    </div>
                    <div *ngIf=!esConIntervencion>
                        <div fxLayout="roe" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <mat-icon style="color: red;">cancel</mat-icon>
                            <span style="text-align: justify; margin-left: 23px">Este producto no se encuentra asegurado
                                ante
                                incidentes.</span>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div class="mediosPago">
                    <h3>Medios de pago</h3>
                    <br>
                    <img src="../../../../assets/images/mediosPago.PNG">
                </div>
            </div>
        </div>
    </div>
</section>