<div fxLayout="row" fxFlexFill>
    <div fxLayout ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>

    <div fxLayout="column" fxFlexOrder="2" ngClass.gt-md="container-gt-md mat-elevation-z8"
        ngClass.lt-md="container-lt-md mat-elevation-z8">

        <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px;" fxLayoutAlign="center center">
            <p style="font-size: 25px; margin-bottom: 25px;"> Mis reclamos </p>
            <mat-divider style="width:100%;"></mat-divider>
        </div>

        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="!mostrar" style="margin:50px">
            <mat-spinner diameter="200"></mat-spinner>
            <p>Cargando...</p>
        </div>

        <div style="text-align: center; margin-top: 100px;overflow: hidden;" *ngIf="mostrar && !hayReclamos">
            <h3>No hay reclamos por mostrar</h3>
        </div>

        <div fxLayout="row" fxLayoutGap="20px" style="margin-left: 30px;margin-top: 20px;"
            *ngIf="mostrar && hayReclamos">
            <mat-form-field style="width: 60%;margin-left: 20px; margin-top: 20px;">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
            </mat-form-field>

            <button mat-icon-button (click)="ngOnInit()">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>

        <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" style="cursor:pointer"
            *ngIf="mostrar && hayReclamos">

            <ng-container matColumnDef="id_publicacion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Publicación</th>
                <td mat-cell *matCellDef="let row" routerLink="/publicaciones/{{row.id_publicacion}}">
                    <img class="imagen" src="{{'http://localhost:4201/api/get-image-publicacion/'+ row.imagen}}">
                </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                <td mat-cell *matCellDef="let row" (click)="openDialogDatosAlquiler(row)"> {{row.titulo}}</td>
            </ng-container>

            <ng-container matColumnDef="tipo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Motivo</th>
                <td mat-cell *matCellDef="let row" (click)="openDialogDatosAlquiler(row)"> {{row.tipo}}</td>
            </ng-container>

            <ng-container matColumnDef="estado_reclamo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado del reclamo</th>
                <td mat-cell *matCellDef="let row" (click)="openDialogDatosAlquiler(row)"> {{row.estado_reclamo}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
            [pageSizeOptions]="[1,5,10,15,20,25,50]" [fxShow]="mostrar && hayReclamos">
        </mat-paginator>
    </div>
</div>