<div fxLayout="row" fxFlexFill>
    <div fxLayout ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>

    <div fxLayout="column" ngClass.gt-md="container-gt-md" ngClass.lt-md="container-lt-md">

        <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px" fxLayoutAlign="center center">
            <p style="font-size: 25px;margin-bottom: 8px; "> Mis reclamos </p>
            <mat-divider fxFlexFill></mat-divider>
        </div>
    </div>
</div>