<ngx-spinner bdColor = "rgb(255,255,255)" size = "medium" color = "#000000" type = "timer" [fullScreen] = "true"><p style="color: black" > Verificando... </p></ngx-spinner>

<mat-toolbar style="height: 100%;">
    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/alquileres']">
            <mat-icon>dashboard</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Alquileres</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/denuncias']">
            <mat-icon>report</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Denuncias</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/estadisticas']">
            <mat-icon>assessment</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Estadísticas</span>
        </a>
    </mat-toolbar-row>

<!--     <mat-toolbar-row>
        <a [routerLink]="['/superadmin/pagos']">
            <mat-icon>credit_score</mat-icon><span class="iconitos letritas"
                fxHide.lt-lg="true">Pagos</span>
        </a>
    </mat-toolbar-row> -->

    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/publicaciones']">
            <mat-icon>storefront</mat-icon><span class="iconitos letritas"
                fxHide.lt-lg="true">Publicaciones</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/reclamos']">
            <mat-icon>menu_book</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Reclamos</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/superadmin/usuarios']">
            <mat-icon>account_box</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Usuarios</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a fxFlexAlign.lt-lg="flex-end" (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Salir</span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>