<section fxLayout.gt-md="column" fxLayoutAlign.gt-md="center center" fxLayoutGap.gt-md="20px"
    fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center"
    fxLayoutGap.lt-md="20px" fxFlexFill>

    <div ngClass.gt-md="text-center" ngClass.lt-md="confirmacion-confirma">
        <h2>Confirma tu correo electrónico</h2>
        <p>¡Estás a sólo un paso de activar tu cuenta en One Use!</p>
    </div>

    <div fxLayout.lt-md="column" fxLayoutAlign.lt-md="center" ngClass.lt-md="confirmacion-container-ul-lt-md">
        <p>Con nuestra plataforma podrás: </p>
        <ul ngClass.gt-md="confirmacion-listado" ngClass.lt-md="confirmacion-listado">
            <li class="confirmacion-lista">Publicar tu objeto para alquilar.</li>
            <li class="confirmacion-lista">Realizar búsqueda de objetos que desees alquilar.</li>
            <li class="confirmacion-lista">Establecer contacto con la persona interesada en alquilar tu objeto.</li>
            <li class="confirmacion-lista">Puntuar usuarios.</li>
        </ul>
    </div>

    <div>
        <a class="primary-btn banner-btn" (click)="confirmar()">Confirmar mi cuenta</a>
    </div>
</section>