<div fxLayout="row" fxFlexFill>
    <div fxLayout ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral></app-barra-lateral>
    </div>
    <div fxLayout="column" ngClass.gt-md="container-gt-md mat-elevation-z8" ngClass.lt-md="container-lt-md mat-elevation-z8">
        <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px" fxLayoutAlign="center center">
            <p style="font-size: 25px;margin-bottom: 25px; "> Mis publicaciones <button mat-mini-fab color="primary"
                    (click)="verificarUsuario()" *ngIf="mostrar">+</button> </p>
            <mat-divider style="width: 100%;"></mat-divider>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px"  *ngIf="!mostrar" style="margin:50px">
            <mat-spinner diameter="200" ></mat-spinner>
            <p>Cargando...</p>
        </div>
        <mat-tab-group dynamicHeight style="width: 100%;" (selectedTabChange)="cambioTab($event)" *ngIf="mostrar">
            <mat-tab>
                <div fxHide.lt-lg="true">
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">check_circle</mat-icon>
                        Publicaciones Activas
                    </ng-template>
                </div>
                <div class="contenedor-imagenes">

                    <div *ngIf="!hayPublicaciones">
                        {{titulo}}
                    </div>

                    <div *ngFor="let publicacion of publicaciones; let indice1 = index">
                        <div ngClass.gt-md="contenedor-imagen-final" ngClass.lt-lg="tab-lt-md"
                            *ngIf="publicacion.estado == 'ACTIVA'">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <mat-card-title style="text-align: left; font-size: 17px"><a style="color:black;"
                                            routerLink="/publicaciones/{{publicacion._id}}"> {{publicacion.titulo}} </a>
                                    </mat-card-title>
                                    <mat-card-subtitle style="text-align: left;"> {{publicacion.categoria}},
                                        {{publicacion.subcategoria}} </mat-card-subtitle>
                                </mat-card-header>
                                <!-- <img class="container-muestra-imagenes" mat-card-image src="../../../../assets/images/OneUse.jpg">  -->
                                <swiper class="swiper-container" [config]="config">
                                    <div *ngFor="let img of publicacion.multiplefile; let indice2 = index"
                                        style="width: 100% !important">
                                        <img class="container-muestra-imagenes"
                                            src="{{'http://localhost:4201/api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}">
                                        <!--                                         <img class="container-muestra-imagenes"
                                            src="{{'https://oneuse-backend.herokuapp.com/api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}"> -->
                                    </div>
                                </swiper>
                                <mat-card-content style="text-align: left; font-size: 12px">
                                    <!-- <p> <b>Descripción:</b> {{publicacion.descripcion}} </p> -->
                                    <!-- <p> <b>Precio por día:</b> ${{publicacion.preciodia}} </p> -->
                                    <!-- <p> <b>Destacado:</b> {{publicacion.destacar}} </p> -->
                                    <!-- <p> <b>Vigente hasta:</b> implementar fecha </p> -->
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary" (click)="destacarPublicacion(publicacion._id)"
                                        *ngIf="publicacion.pago_destacacion == false">Destacar</button>
                                    <button mat-raised-button color="primary"
                                        routerLink="/editar-publicacion/{{publicacion._id}}">Editar</button>
                                    <button mat-raised-button color="warn"
                                        (click)="openDialogDeshabilitar(publicacion)">Deshabilitar</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>

            <mat-tab>
                <div fxHide.lt-lg="true">
                    <ng-template mat-tab-label>
                        <mat-icon class="iconitos">cancel</mat-icon>
                        Publicaciones Inactivas
                    </ng-template>
                </div>
                <div class="contenedor-imagenes">

                    <div *ngIf="!hayPublicaciones">
                        {{titulo}}
                    </div>

                    <div *ngFor="let publicacion of publicaciones; let indice1 = index">
                        <div ngClass.gt-md="contenedor-imagen-final" ngClass.lt-lg="tab-lt-md"
                            *ngIf="publicacion.estado == 'INACTIVA'">
                            <mat-card class="example-card">
                                <mat-card-header>
                                    <mat-card-title style="text-align: left; font-size: 17px"><a style="color:black;"
                                            routerLink="/publicaciones/{{publicacion._id}}"> {{publicacion.titulo}} </a>
                                    </mat-card-title>
                                    <mat-card-subtitle style="text-align: left;"> {{publicacion.categoria}},
                                        {{publicacion.subcategoria}} </mat-card-subtitle>
                                </mat-card-header>
                                <!-- <img class="container-muestra-imagenes" mat-card-image src="../../../../assets/images/OneUse.jpg">  -->
                                <swiper class="swiper-container" [config]="config">
                                    <div *ngFor="let img of publicacion.multiplefile; let indice2 = index"
                                        style="width: 100% !important">
                                        <img class="container-muestra-imagenes"
                                            src="{{'http://localhost:4201/api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}">
                                        <!--                                         <img class="container-muestra-imagenes"
                                            src="{{'https://oneuse-backend.herokuapp.com/api/get-image-publicacion/'+ publicacion.multiplefile[indice2]}}">    -->
                                    </div>
                                </swiper>
                                <mat-card-content style="text-align: left; font-size: 12px">
                                    <!-- <p> <b>Descripción:</b> {{publicacion.descripcion}} </p> -->
                                    <p> <b>Precio por día:</b> ${{publicacion.preciodia}} </p>
                                    <p> <b>Precio por semana:</b> ${{publicacion.preciosemana}} </p>
                                    <p> <b>Precio por mes:</b> ${{publicacion.preciomes}} </p>
                                </mat-card-content>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary"
                                        routerLink="/editar-publicacion/{{publicacion._id}}">Editar</button>
                                    <button mat-raised-button color="primary"
                                        (click)="habilitarPublicacion(publicacion)">Habilitar</button>
                                    <button mat-raised-button color="warn"
                                        (click)="openDialogEliminar(publicacion)">Eliminar</button>
                                </mat-card-actions>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</div>