<div fxLayout="row" fxFlexFill>
    <div fxLayout fxFlexOrder="1" ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral-sa></app-barra-lateral-sa>
    </div>

    <div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="start center" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center" style="width: 95%; margin-top: 20px; margin-bottom: 20px;">
        <div class="mat-elevation-z8" style="width: 95%;">
            
            <div fxLayout="column" style="width: 100%; text-align: center; margin-top: 40px" fxLayoutAlign="center center">
                <p style="font-size: 25px;margin-bottom: 40px; "> Usuarios </p>
                <mat-divider fxFlexFill></mat-divider>
            </div>

            <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="!mostrar" style="margin:50px">
                <mat-spinner diameter="200" ></mat-spinner>
                <p>Cargando...</p>
            </div>
            
            <div fxLayout="row" fxLayoutGap="20px" style="margin-left: 30px;margin-top: 20px;" *ngIf="mostrar">
                <mat-form-field style="width: 60%;margin-left: 20px; margin-top: 20px;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                </mat-form-field>

                <button mat-icon-button (click)="ngOnInit()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </div>

            <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements" *ngIf="mostrar">

                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
                    <td mat-cell *matCellDef="let row"> {{row.name}}</td>
                </ng-container>

                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
                    <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                </ng-container>

                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef>Fecha de creación</th>
                    <td mat-cell *matCellDef="let row"> {{row.createdAt}} </td>
                </ng-container>

                <ng-container matColumnDef="boton">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <button mat-stroked-button color="primary" (click)="openDialogUsuarios(row)">Ver
                                usuario</button>
                            <button mat-stroked-button color="primary"
                                (click)="openDialogModificarUsuario(row)">Modificar</button>
                            <button mat-stroked-button color="warn"
                                (click)="openDialogEliminarUsuario(row)">Eliminar</button>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[1,5,10,15,20,25,50]" *ngIf="mostrar">
            </mat-paginator>
        </div>
    </div>
</div>