<div fxLayout="row" fxFlexFill>
    <div fxLayout fxFlexOrder="1" ngClass.lt-lg="toolbar-div-lt-md">
        <app-barra-lateral-sa></app-barra-lateral-sa>
    </div>

    <div fxLayout="column" fxFlexOrder="2" fxLayoutAlign="start center" fxLayout.lt-lg="column"
        fxLayoutAlign.lt-lg="center center" style="width: 100%; margin-top: 20px;margin-bottom: 20px">
        <div class="mat-elevation-z8" style="width: 95%;">
            <div fxLayout="row" fxLayoutGap="20px" style="margin-left: 30px;">
                <mat-form-field style="width: 60%;margin-left: 20px; margin-top: 20px;">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filtrar">
                </mat-form-field>

                <button mat-icon-button (click)="ngOnInit()">
                    <mat-icon>autorenew</mat-icon>
                </button>
            </div>

            <table mat-table #table [dataSource]="dataSource" matSort aria-label="Elements">

                <ng-container matColumnDef="titulo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Título</th>
                    <td mat-cell *matCellDef="let row"> {{row.titulo}}</td>
                </ng-container>

                <ng-container matColumnDef="categoria">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Categoria</th>
                    <td mat-cell *matCellDef="let row"> {{row.categoria}} </td>
                </ng-container>

                <ng-container matColumnDef="destacar">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>¿Destacado?</th>
                    <td mat-cell *matCellDef="let row"> {{row.destacar}} </td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let row"> {{row.estado}} </td>
                </ng-container>

                <ng-container matColumnDef="boton">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
                            <button mat-stroked-button color="accent" (click)="redireccionar(row)">Visitar</button>
                            <button mat-stroked-button color="primary"
                                (click)="openDialogDatosPublicacion(row)">Datos</button>
                            <button mat-stroked-button color="primary"
                                (click)="openDialogModificarPublicacion(row)">Modificar</button>
                            <button mat-stroked-button color="warn"
                                (click)="openDialogEliminarPublicacion(row)">Eliminar</button>
                        </div>
                    </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator [length]="dataSource.data.length" [pageIndex]="0" [pageSize]="5"
                [pageSizeOptions]="[1,5,10,15,20,25,50]">
            </mat-paginator>
        </div>
    </div>
</div>