mat-form-field {
    width: 400px;
}

.input-sm {
    width: 80%;
}

mat-form-field {
    font-size: 18px;
    margin-top: 15px;
}

.forgot-msg {
    text-align: justify;
    font-size: 12px;
    line-height: 27px;
}

.contenedor {
    margin: 50px;
    padding: 50px;
    margin-right: 450px;
    margin-left: 450px;
}