<section fxFlexFill>
    <form id="login-form" action="#" method="post" fxLayout="column" fxLayoutAlign="center center"
        fxLayout.lt-lg="column" fxLayoutAlign.lt-lg="center center" fxFlexFill>
        <div class="panel-heading">
            <h2>Restablecer contraseña</h2>
        </div>
        <p class="forgot-msg">Por favor ingresa la dirección de email 
            <br> que utilizaste para registrarte en One Use
        <br> y recibirás un enlace para restablecer tu contraseña.    </p>
        <hr>
        <mat-form-field hideRequiredMarker ngClass.xs="input-sm">
            <input type="email" matInput placeholder="E-mail" [(ngModel)]="mailPasswordData.email" class="input-login"
                style="color: black !important" name="email" id="username1" tabindex="1" ngModel>
            <button mat-button *ngIf="value1" matSuffix mat-icon-button aria-label="Clear" (click)="value1=''">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <div class="text-center mt_30" ngClass.xs="input-sm">
            <!-- <button [routerLink]="['/confirmalostpassword']"  mat-raised-button color="primary">Enviar</button>  -->

            <button (click)="mailPassword()" type="submit" mat-raised-button
                color="primary">Enviar</button>
            
            <!--crear método (click)="restablecerPassword" = " "-->
        </div>
        
    </form>
</section>

<a id="scrollup">Scroll</a>