<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onClose(); buscador('/')">
        <mat-icon>home</mat-icon>
        <span class="nav-caption">Inicio</span>
    </a>
    <a mat-list-item routerLink="/categorias" (click)="onClose(); buscador('/categorias')">
        <mat-icon>category</mat-icon>
        <span class="nav-caption">Categorías</span>
    </a>
    <a mat-list-item routerLink="/about" (click)="onClose(); buscador('/about')">
        <mat-icon>help</mat-icon>
        <span class="nav-caption">Sobre nosotros</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose(); buscador('/login')" [fxShow]=!estadoSesion>
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Iniciar sesión</span>
    </a>
    <a mat-list-item routerLink="/mi-cuenta" (click)="onClose(); buscador('/mi-cuenta')" [fxShow]=estadoSesion>
        <mat-icon>face</mat-icon>
        <span class="nav-caption">Mi cuenta</span>
    </a>
    <a mat-list-item (click)="onClose(); cerrarSesion()" [fxShow]=estadoSesion>
        <mat-icon>close</mat-icon>
        <span class="nav-caption">Cerrar Sesión</span>
    </a>

</mat-nav-list>