<section fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px" style="margin: 40px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px" *ngIf="!mostrar" style="margin:50px">
        <mat-spinner diameter="200"></mat-spinner>
        <p>Cargando...</p>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start" *ngIf="mostrar && hayUsuario" fxLayoutGap="50px">
        <div fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z8"
            style="padding: 40px; background: #ffffff;">
            <div style="margin-top: 15px; margin-bottom: 10px;">
                <img *ngIf="usuario.tipo == 'oneuse'" class="previsualizacion"
                    src="{{'http://localhost:4201/api/get-image/'+id}}">
                <img *ngIf="usuario.tipo == 'gmail' || usuario.tipo == 'facebook'" class="previsualizacion"
                    [src]="usuario.removablefile">
            </div>
            <div fxLayout="column" fxLayoutGap="17px">
                <h3 style="text-align: center;"> {{usuario.name}} </h3>
                <p> {{tiempo}} </p>
                <br>
                <h4>Reputación</h4>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px" style="font-size: 11px;">
                    <mat-icon style="color: green;">check_circle</mat-icon>
                    <span> {{titulo_cantidad}} </span>
                </div>
                <p>Calificación promedio como propietario:</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion1_propietario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion1_propietario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion2_propietario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion2_propietario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion3_propietario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion3_propietario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion4_propietario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion4_propietario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion5_propietario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion5_propietario">star</mat-icon>
                    </button>
                </div>
                <p>Calificación promedio como locatario:</p>
                <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="5px">
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion1_locatario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion1_locatario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion2_locatario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion2_locatario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion3_locatario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion3_locatario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion4_locatario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion4_locatario">star</mat-icon>
                    </button>
                    <button mat-icon-button>
                        <mat-icon style="color:black" *ngIf="!seleccion5_locatario">star</mat-icon>
                        <mat-icon style="color: gold;" *ngIf="seleccion5_locatario">star</mat-icon>
                    </button>
                </div>
                <br>
                <div fxLayout="column" fxLayoutGap="8px">
                    <h4 style="margin-top: 15px;">Ubicación</h4>
                    <p style="margin-top: 10px;">{{usuario.ciudad}}, {{usuario.provincia}}</p>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutAlign="start">
            <div class="mat-elevation-z8" style="padding: 30px;background: #ffffff;">
                <mat-tab-group dynamicHeight>
                    <mat-tab>
                        <ng-template mat-tab-label>Opiniones de locatarios</ng-template>
                        <!--CONTENIDO-->
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="{{!mostrarMasLocatarios && arrayPuntuacionesLocatariosRestante.length > 0 ? '22px' : '30px'}}"
                            style="margin-top: 20px;">
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                                <div>
                                    <h1> {{sumatoria_opiniones_locatarios}} </h1>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_buena_locatario style="width: 100px;"></mat-progress-bar>
                                        <span> Buena ({{sumatoria_buena_locatarios}}) </span>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_regular_locatario style="width: 100px;"></mat-progress-bar>
                                        <span> Regular ({{sumatoria_regular_locatarios}}) </span>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_mala_locatario style="width: 100px;"></mat-progress-bar>
                                        <span> Mala ({{sumatoria_mala_locatarios}}) </span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px"
                                *ngFor="let puntuacion of arrayPuntuacionesComentariosLocatarios; let indice = index"
                                style="width: 100%;">
                                <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px"
                                    style="width: 100%;">
                                    <!--Estrellas-->
                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion1">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion1">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion2">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion2">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion3">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion3">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion4">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion4">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion5">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion5">star
                                            </mat-icon>
                                        </p>
                                    </div>
                                    <div style="width: 100%;">
                                        <p style="font-size: 11px;color: gray;font-weight: 200;">
                                            {{puntuacion.comentario}}</p>
                                    </div>
                                    <div style="width: 100%;">
                                        <p style="font-size: 11px;color: gray;font-weight: 200;">{{puntuacion.usuario}}
                                            - {{puntuacion.fecha}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div (click)="habilitarOpinionesLocatarios()" *ngIf="!mostrarMasLocatarios && arrayPuntuacionesLocatariosRestante.length > 0">
                                <span style="color: #4a70af; cursor: pointer;">Mostrar más opiniones</span>
                            </div>
                            <div (click)="deshabilitarOpinionesLocatarios()" *ngIf="mostrarMasLocatarios">
                                <span style="color: #4a70af; cursor: pointer;">Mostrar menos opiniones</span>
                            </div>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>Opiniones de propietarios</ng-template>
                        <!--CONTENIDO-->
                        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="{{!mostrarMasPropietarios && arrayPuntuacionesPropietariosRestante.length > 0 ? '22px' : '30px'}}" 
                            style="margin-top: 20px;"> <!--fxLayoutGap="22px"-->
                            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px">
                                <div>
                                    <h1> {{sumatoria_opiniones_propietarios}} </h1>
                                </div>
                                <div fxLayout="column" fxLayoutAlign="center">
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_buena_propietario style="width: 100px;"></mat-progress-bar>
                                        <span> Buena ({{sumatoria_buena_propietarios}}) </span>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_regular_propietario style="width: 100px;">
                                        </mat-progress-bar>
                                        <span> Regular ({{sumatoria_regular_propietarios}}) </span>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="15px">
                                        <mat-progress-bar mode="determinate" color="primary"
                                            [value]=progress_mala_propietario style="width: 100px;"></mat-progress-bar>
                                        <span> Mala ({{sumatoria_mala_propietarios}}) </span>
                                    </div>
                                </div>
                            </div>
                            <mat-divider style="width: 100%;"></mat-divider>
                            <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="20px"
                                *ngFor="let puntuacion of arrayPuntuacionesComentariosPropietarios; let indice = index"
                                style="width: 100%;">
                                <div fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="5px"
                                    style="width: 100%;">
                                    <!--Estrellas-->
                                    <div fxLayout="row" fxLayoutAlign="start center" style="width: 100%;">
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion1">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion1">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion2">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion2">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion3">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion3">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion4">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion4">star
                                            </mat-icon>
                                        </p>
                                        <p>
                                            <mat-icon style="color:black" *ngIf="!puntuacion.seleccion5">star
                                            </mat-icon>
                                            <mat-icon style="color: gold;" *ngIf="puntuacion.seleccion5">star
                                            </mat-icon>
                                        </p>
                                    </div>
                                    <div style="width: 100%;">
                                        <p style="font-size: 11px;color: gray;font-weight: 200;">
                                            {{puntuacion.comentario}}</p>
                                    </div>
                                    <div style="width: 100%;">
                                        <p style="font-size: 11px;color: gray;font-weight: 200;">{{puntuacion.usuario}}
                                            - {{puntuacion.fecha}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div (click)="habilitarOpinionesPropietarios()" *ngIf="!mostrarMasPropietarios && arrayPuntuacionesPropietariosRestante.length > 0">
                                <span style="color: #4a70af; cursor: pointer;">Mostrar más opiniones</span>
                            </div>
                            <div (click)="deshabilitarOpinionesPropietarios()" *ngIf="mostrarMasPropietarios">
                                <span style="color: #4a70af; cursor: pointer;">Mostrar menos opiniones</span>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

            <div style="margin-top: 30px;">
                <h4 style="margin-bottom: 10px;">Publicaciones del usuario</h4>
                <carousel [cellsToShow]="3" [width]="750" [height]="385" [arrows]="true" [arrowsOutside]="true"
                    [cellsToScroll]="3">
                    <div class="carousel-cell" *ngFor="let publicacion of publicacionesUsuario; let indice of index">
                        <div fxLayout="column" fxLayoutAlign="start" class="mat-elevation-z6"
                            style="height: 365px;margin: 10px;background: #ffffff;"
                            (click)="irPublicacion('/publicaciones/'+publicacion._id)">
                            <div style="text-align: center; margin: 5px;padding: 10px;">
                                <img class="imgPublicacion"
                                    src="{{'http://localhost:4201/api/get-image-publicacion/'+ publicacion.multiplefile[0]}}">
                            </div>
                            <div>
                                <mat-divider style="width: 100%;"></mat-divider>
                            </div>
                            <div fxLayout="column" fxLayoutGap="5px" class="info">
                                <span class="preciodia"> ${{publicacion.preciodia}} por día</span>
                                <span style="font-size: 9px; color: green;;"
                                    *ngIf="publicacion.preciomes > 0 || publicacion.preciosemana > 0">¡Promociones si lo
                                    llevas por más
                                    días!</span>
                                <div>
                                    <p *ngIf="publicacion.preciomes > 0 || publicacion.preciosemana > 0"
                                        style="font-size: 11px; margin-top: 11px;"> {{publicacion.titulo}} </p>
                                    <p *ngIf="publicacion.preciomes == 0 || publicacion.preciosemana == 0"
                                        style="font-size: 11px; margin-top: 42px;"> {{publicacion.titulo}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </carousel>

            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" *ngIf="mostrar && !hayUsuario">
        <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px">
            <img src="../../../assets/images/travolta-crunched.gif" style="block-size: 200px;">
            <h5> Lo sentimos, pero no encontramos al usuario consultado </h5>
            <button mat-raised-button color="primary" (click)="inicio()">Ir al inicio</button>
        </div>
    </div>
</section>