@import '~swiper/dist/css/swiper.min.css';
.previsualizacion {
    width: 245px;
    height: 260px;
    border: 2px solid gray;
    border-radius: 140px;
}

p {
    font-size: 12px;
}

.swiper-slide {
    text-align: center;
    line-height: 70px;
}

.imgPublicacion {
    width: 200px !important;
    height: 200px !important;
}

.info {
    width: 100%;
    padding-right: 8px;
    padding-left: 16px;
    padding-top: 18px;
    padding-bottom: 16px;
}

.preciodia {
    font-size: 20px;
    font-weight: 400;
    font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}