.toolbar-div-lt-md {
  width: 80px;
  font-size: 6px !important;
}

.tab-lt-md {
  height: 705px;
  width: 1200px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tab-gt-md {
  width: 1200px;
  height: 500px;
  margin-top: 20px;
}

.previsualizacion {
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 140px;
}

.previsualizacion-icon {
  width: 250px;
  height: 250px;
  border: 1px solid gray;
  border-radius: 140px;
  text-align: center;
  font-size: 250px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 140px;
}

p {
  font-size: 24px;
}

mat-form-field {
  font-size: 15px;
  width: 800px;
}

mat-toolbar {
  background: rgb(215, 215, 215);
}

