<mat-toolbar style="height: 100%;">
    <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta/perfil']">
            <!-- [routerLink]="['/perfil']" -->
            <mat-icon>account_circle</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Mi
                perfil</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta/notificaciones']">
            <!-- [routerLink]="['/perfil']" -->
            <mat-icon>notifications_active</mat-icon><span class="iconitos letritas"
                fxHide.lt-lg="true">Notificaciones</span>
        </a>
    </mat-toolbar-row>



    <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta/mis-publicaciones']">
            <!-- [routerLink]="['/mis-publicaciones']" -->
            <mat-icon>book</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Mis
                publicaciones</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta/mis-alquileres']">
            <!-- [routerLink]="['mis-alquileres']"  -->
            <mat-icon>assignment</mat-icon> <span class="iconitos letritas" fxHide.lt-lg="true">Mis
                alquileres</span>
        </a>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta/mis-reclamos']">
            <!-- [routerLink]="['mis-alquileres']"  -->
            <mat-icon>assignment_late</mat-icon> <span class="iconitos letritas" fxHide.lt-lg="true">Mis
                reclamos</span>
        </a>
    </mat-toolbar-row>

<!--     <mat-toolbar-row>
        <a [routerLink]="['/mi-cuenta']">
            <mat-icon>analytics</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Mis
                estadísticas</span>
        </a>
    </mat-toolbar-row> -->


    <mat-toolbar-row>
        <a fxFlexAlign.lt-lg="flex-end" (click)="cerrarSesion()">
            <mat-icon>exit_to_app</mat-icon><span class="iconitos letritas" fxHide.lt-lg="true">Salir</span>
        </a>
    </mat-toolbar-row>
</mat-toolbar>